#body{
  background-color: #FFFFFF;
}

p, span{
  font-family: 'Open Sans', sans-serif;
}

.title{
  font-family: 'Roboto';
  width: 100;
}

.headerContainer{
  padding: 25px 0;
  background-image: url('BeamSuntory.png');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: -20px;
  background-size: contain;
}
#printDashboard{
  position: absolute;
  left: 5%;
  top: 30px;
  max-height: 35px;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 0.8em;
}
.headerContainer .maintitle{
  font-size: 2.5em;
  width: 100%;
  text-align: center;
}


.dashboardContainer{
  margin: 0 25px;
  padding: 25px;
  border-bottom: 2px solid grey;
}
.dashboardContainer .blockTitle{
  width: 100%;
}

.dashboard{
  padding: 25px;
}
.dashboard canvas{
  height: 1vh;
  width: 1vh;
  border: 1px solid grey;
  border-radius: 5px;
}

.dashboard.kpiDashboard{
  height: 250px;
  padding-bottom: 80px;
  border: 0px solid transparent;
  border-right: 1px solid grey;
  border-radius: 0px;
}
.dashboard.kpiDashboard:last-of-type{
  border-right: none;
}
.dashboard.kpiDashboard .title{
  font-size: 0.9em;
}
.dashboard.kpiDashboard .kpiResult{
  font-size: 1.5em;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.dashboard.kpiDashboard canvas{
  border: 0px solid transparent;
  border-radius: 0px;
}

.standartDashboard{
  height: 550px;
}

.smallContainer{
  padding: 0px;
  margin: 0px;
}
.smallContainer .smallDashboard{
  height: 275px;
}
